name: Backport on pull_request_target[closed]
on:
  pull_request_target:
    types: [closed]
permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
jobs:
  backport:
    name: Backport
    runs-on: ubuntu-latest
    if: >
      github.event.pull_request.merged
      && github.event_name == 'pull_request_target'
    steps:
      - uses: actions/checkout@v4
      - name: Backport
        id: backport
        uses: korthout/backport-action@test-respect-merge-method
        with:
          # copy all labels (backport labels are automatically skipped)
          copy_labels_pattern: .+
          experimental: >
            {
              "detect_merge_method": true
            }
      - name: Print was_successful output
        run: echo "${{ steps.backport.outputs.was_successful }}"
      - name: Print was_successful_by_target output
        run: echo "${{ steps.backport.outputs.was_successful_by_target }}"
